#!/usr/bin/env ruby

passthrough '/assets/**/*'

layout '/**/*.slim', :slim
layout '/**/*', :erb

STORIES_PER_PAGE = 12

preprocess do
  @items.find_all('/story/*').map {|story| story.identifier}.reverse.each_slice(STORIES_PER_PAGE).each_with_index do |stories, index|
    identifier = if index > 0
      "/stories/#{index}"
    else
      "/stories"
    end
    @items.create('', {stories: stories}, identifier)
  end
end

compile '/**/*.slim' do
  filter :slim

  layout '/default.*'

  write item.identifier.without_ext + '.html'
end

compile '/story/*.md' do
  filter :redcarpet, options: {
    fenced_code_blocks: true,
    disable_indented_code_blocks: true
  }

  layout '/story.*'

  write item.identifier.without_ext + '/index.html'
end

compile /\/stories.*/ do
  layout '/stories.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/project/*.md' do
  filter :redcarpet, options: {
    fenced_code_blocks: true,
    disable_indented_code_blocks: true
  }

  layout '/project.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/til/*.md' do
  filter :redcarpet, options: {
    fenced_code_blocks: true,
    disable_indented_code_blocks: true
  }

  layout '/til.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/**/*' do
  p "ups! #{item.identifier}"
end
