#!/usr/bin/env ruby

passthrough '/assets/**/*'

layout '/**/*.slim', :slim

preprocess do
  add_pagination_for('/story/*', '/stories', 12)
  add_pagination_for('/til/*', '/tils', 5)
  add_pagination_for('/project/*', '/projects', 10)
end

compile /\/stories.*/ do
  layout '/stories.*'

  write item.identifier.without_ext + '/index.html'
end

compile /\/tils.*/ do
  layout '/tils.*'

  write item.identifier.without_ext + '/index.html'
end

compile /\/projects.*/ do
  layout '/projects.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/{story,til,project}/*.md' do
  filter :pandoc, from: :gfm, to: :html

  layout '/common.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.slim' do
  filter :slim

  layout '/default.*'

  if item.identifier =~ '/index.*'
    write '/index.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  p "ups! #{item.identifier}"
end
