.container.text-center
  header.m-4
    h2
      | Who am I ?
    img.mb-2 src="/assets/images/authors/michal.png"
    h4
      | I'm Michał Kalbarczyk
    h5
      | or
      code
        |  fazibear
      |  if you want
  p
    | With ~20 years of overall commercial programming experience, I gained extensive and practical knowledge of designing, programming, maintaining and optimising sophisticated applications, web apps and backends. Interested in many modern technologies and programming languages. Love trying new technologies, doing research, create PoC, contribute to Open Source Software. Fascinated about hardware. Excited about retro computers. Attracted in playing the guitar and listening every kind of music.
    | ...
