header.text-center.text-body-secondary.m-5
  h2
    | Programming Adventures
  h5
    | with #{@config.dig(:site, :author)}
main
  section
    h4.hstack.border-bottom.p-2.border-dark
      span
        | Top Stories
      a.ms-auto.text-body-secondary.fs-5 href="/stories"
        | More Stories »
    div.row.row-cols-1.row-cols-lg-3.g-3.m-4
      - @items.find_all('/story/*').reverse.first(6).each do |story|
        == render '/partials/story.*', story: story
  section
    h4.hstack.border-bottom.p-2.border-dark
      span
        | Featured Projects
      a.ms-auto.text-body-secondary.fs-5 href="/projects"
        | More Projects »
    div.row.row-cols-1.row-cols-lg-2.g-3.m-4
      - @items.find_all('/project/*').select{|p| p[:featured]}.each do |project|
        == render '/partials/project.*', project: project
  section
    h4.hstack.border-bottom.p-2.border-dark
      span
        | Last Lerned
      a.ms-auto.text-body-secondary.fs-5 href="/tils"
        | More »
    .row
      == render '/partials/til.*', til: @items.find_all('/til/*').last
