<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="{{ .Site.Params.Author }}" name="author" />
  <meta content="{{ .Site.Params.Description }}" name="description" />

  {{ partial "title.html" . }}

  <link href="{{ .Permalink }}" rel="canonical" />
  <link href="/images/favicon.png" rel="icon" />

  <link rel="me" href="https://hachyderm.io/@fazibear" />

  {{ partial "style.html" . }}
  {{ template "_internal/google_analytics.html" . }}
</head>

<body class="overscroll-none bg-background text-foreground">
  <div onclick="" class="
      transition-all duration-150
      z-40 fixed top-0 bottom-0 overflow-hidden
      w-[30px] h-[60px]
      lg:w-[300px] lg:h-[800px]
      hover:w-[300px] hover:h-[800px]
      font-comic
      opacity-70
      ">
    {{ partial "navbar.html" . }}
  </div>
  <header class="
      text-6xl font-bold absolute
      z-50 top-[10px] lg:left-[130px]
      font-comic opacity-70
      text-center text-logo
      lg:text-left inline-block
      w-[100%]
      ">
    <a href="/">Puddle Of Code</a>
  </header>
  <div class="relative lg:left-[300px] lg:w-[calc(100%-300px)] pt-[75px]">
    {{ block "main" . }}{{ end }}
  </div>
  <div class="relative lg:left-[300px] lg:w-[calc(100%-300px)]">
    {{ partial "footer.html" . }}
  </div>
</body>

</html>
