<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <meta content="{{ .Site.Params.Author }}" name="author" />
  <meta content="{{ .Site.Params.Description }}" name="description" />

  <title>
    {{ partial "title.html" . }}
  </title>

  <link href="style.css" rel="stylesheet" />
  <link href="window.css" rel="stylesheet" />
  <link href="/images/favicon.png" rel="icon" />

  <link href="https://hachyderm.io/@fazibear" rel="me" />
  <link href="{{ .Permalink }}" rel="canonical" />

  {{ template "_internal/google_analytics.html" . }}
</head>

<body>
  <div class="window">
    {{ partial "window_handler.html" . }}
    <div class="window_body">
      {{ block "main" . }}{{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>

</html>
