{{ define "main" }}

<div class="container">
  {{ if not (isset .Params "single") }}
  <div class="row m-5 p-5 pt-10 pb-3"
    style="background-repeat: no-repeat; background-position: center; background-size: cover; background-image: linear-gradient(transparent -100%, black 75%), url({{ .Params.Image }})">
    <div class="d-none d-md-block col-md-2 align-middle text-center">
      <a href="/about">
        <img alt="{{ .Site.Params.AuthorNick }}" class="rounded-circle" height="80px"
          src="{{ .Site.Params.author_image }}" />
      </a>
    </div>
    <div class="col-md-10">
      <h5>
        <a href="/about">
          {{ .Site.Params.author }}
        </a>
      </h5>
      <h1>
        {{ .Title }}
      </h1>
      <p class="text-secondary">
        <span>
          {{ .Date.Format "2 January 2006" }}
        </span>
        {{ if or (gt .ReadingTime 1) }}
        - Reading time: {{ .ReadingTime }} minutes
        {{ end }}
      </p>
    </div>
  </div>
  {{ end }}
  <div class="row">
    {{ .Content }}
  </div>
  {{ if not (isset .Params "single") }}
  {{ partial "gisqus.html" . }}
  {{ end }}
</div>

{{ end }}
