{{ define "main" }}
<div class="py-10" style="
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-image: linear-gradient(transparent -4%, black 300px), url({{ .Params.Image }})
  ">
  {{ if not (isset .Params "single") }}
  <div class="text-center pb-10">
    <h1 class="text-5xl font-comic">
      {{ .Title }}
    </h1>
    <span>
      {{ .Date.Format "2 January 2006" }}
      {{ if or (gt .ReadingTime 1) }}
      ・ Reading time: {{ .ReadingTime }} minutes
      {{ end }}
    </span>
  </div>
  {{ end }}
  <div class="content mt-10 mx-10">
    {{ .Content }}
  </div>
  {{ if not (isset .Params "single") }}
  {{ partial "gisqus.html" . }}
  {{ end }}
</div>

{{ end }}
