body {
  --accent: #006bab;
  --code: #212529;
  --link-hover: #035282;

  --back: rgba(255, 255, 255, 1);
  --mid1: rgba(52, 58, 64, 0.05);
  --mid2: rgba(52, 58, 64, 0.2);
  --mid3: rgba(52, 58, 64, 0.5);
  --mid4: rgba(52, 58, 64, 0.6);
  --mid5: rgba(52, 58, 64, 0.95);
  --fore: rgba(52, 58, 64, 1);
}

body.dark {
  --accent: #006bab;
  --code: #e5d8cc;
  --link-hover: #035282;

  --back: rgba(0, 0, 0);
  --mid1: rgba(203, 197, 191, 0.05);
  --mid2: rgba(203, 197, 191, 0.2);
  --mid3: rgba(203, 197, 191, 0.5);
  --mid4: rgba(203, 197, 191, 0.6);
  --mid5: rgba(203, 197, 191, 0.95);
  --fore: rgba(203, 197, 191, 1);
}

body {
  background-color: var(--back);
  color: var(--fore);
  padding-top: 5rem;
}

pre {
  font-family: 'Fira Mono' !important;
  font-size: 0.9rem !important;
  margin: 0 10px 2em 10px !important;
}

a, a:hover {
	transition: none;
}

a.more {
  color: var(--mid4);
  text-decoration: none;
  font-weight: initial;
}

.mediumnavigation .navbar-brand img {
	max-height: 50px;
	margin-right: 5px;
}

.mainheading h1.sitetitle, .article-post {
  font-family: 'Fira Sans', sans-serif;
}

.card {
	margin-bottom: 20px;
}

.card .img-fluid {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-block {
  display: flex;
  flex-direction: column;
}

.card-block .metafooter {
  margin-top: auto;
  text-align: center
}

.mainheading .author-thumb {
  display: inline;
  height: 72px;
  width: 72px;
}
