* {
  --bs-body-font-family: "Fira Sans",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* --bs-heading-color: #cbc5bf; */
  --bs-nav-link-color: #495057;
  --bs-link-color-rgb: #495057;
  --bs-heading-color:;
  --bs-card-cap-color: #495057;
  --bs-pagination-color:;
}

a {
  text-decoration: none;
}

code[class*=language-] {
  font-family: "Fira Mono",Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important;
  font-size: 14px !important;
}
