nav.navbar.navbar-expand-lg.border-bottom
  .container-fluid
    a.navbar-brand href="/"
      img src="/assets/images/logo.png" alt="Puddle Of Code" style="height: 60px; filter: invert(100);"
    button.navbar-toggler[type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"]
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item.ms-auto
          a.nav-link href="/stories"
            | Stories
        li.nav-item.ms-auto
          a.nav-link href="/tils"
            | Today I Learned
        li.nav-item.ms-auto
          a.nav-link href="/projects"
            | Projects
        li.nav-item.ms-auto
          a.nav-link href="/about"
            | About Me
