<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid p-0">
    <a class="navbar-brand m-0" href="/">
      <img alt="Puddle Of Code" src="/images/logo.png" style="height: 60px; filter: invert(100);" />
    </a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler p-0"
      data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-auto">
          <a class="nav-link" href="/stories">
            Stories
          </a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link" href="/tils">
            Today I Learned
          </a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link" href="/projects">
            Projects
          </a>
        </li>
        <li class="nav-item ms-auto">
          <a class="nav-link" href="/about">
            About Me
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
