.col
  .card.mb-3.h-100.bg-black
    .row.g-0.h-100
      .col-md-4
        a href="#{project.path}"
          img.rounded-start.object-fit-cover.h-100 width="200px" src="#{project[:image]}" alt="#{project[:title]}"
      .col-md-10
        .card-body
          h5.card-title
            a href="#{project.path}"
              == project[:title]
          p.card-text
            small.text-muted
              == human_date(project[:date])
          p.card-text
            == project.compiled_content
