<div class="grid lg:grid-cols-2 gap-5 p-2">
  {{ range .projects }}
  <div class="flex flex-row border border-gray-700 rounded-xl overflow-hidden shadow-gray-800 shadow-xl">
    <a href="{{ .Permalink }}">
      <img alt="{{ .Title }}" class="w-[200px] h-[200px] object-cover" src="{{ .Params.Image }}" />
    </a>
    <div class="mx-5 w-full">
      <h3 class="text-3xl mt-2 mb-1 text-gray-400">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h3>
      <small class="text-xs text-gray-600">
        {{ .Date.Format "2006-01-02" }}
      </small>
      <p class="text-gray-500 mt-2 text-justify">
        {{ .Summary }}
      </p>
    </div>
  </div>
  {{ end }}
</div>
