<div class="grid lg:grid-cols-2 gap-8 p-2">
  {{ range .projects }}
  <div
    class="flex flex-row border border-gray-700 rounded-xl overflow-hidden shadow-gray-800 shadow-xl text-gray-500 h-[100px]">
    <a href="{{ .Permalink }}">
      <img alt="{{ .Title }}" class="w-[100px] h-[100px] object-cover" src="{{ .Params.Image }}" />
    </a>
    <div class="mx-5">
      <h3 class="text-3xl mt-1 mb-1 text-gray-400">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h3>
      <p class="m-0 p-0 text-justify">
        {{ .Summary | plainify }}
      </p>
    </div>
  </div>
  {{ end }}
</div>
