<div class="grid lg:grid-cols-3 gap-5 px-2">
  {{ range .stories }}
  <div class="flex flex-col border border-gray-700 rounded-xl overflow-hidden shadow-gray-800 shadow-xl">
    <a href="{{ .Permalink }}">
      <img alt="{{ .Title }}" class="h-[200px] w-full object-cover" src="{{ .Params.Image }}" />
    </a>
    <h2 class="text-gray-400 px-2">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>
    <div class="flex flex-col h-full text-gray-500 text-justify px-2">
      {{ .Summary }}
    </div>
    <div class="flex mt-2 p-2 border-t border-gray-700 text-gray-600 text-xs">
      <span>
        {{ .Date.Format "2 January 2006" }}
      </span>
      <span class="ms-auto text-right">
        {{ if or (gt .ReadingTime 1) }}
        Reading time: {{ .ReadingTime }} minutes
        {{ end }}
      </span>
    </div>
  </div>
  {{ end }}
</div>
