<div class="flex flex-col border border-gray-700 rounded-xl overflow-hidden">
  <a href="{{ .Permalink }}">
    <img alt="{{ .Title }}" class="h-[200px] w-full object-cover" src="{{ .Params.Image }}" />
  </a>
  <h4 class="text-2xl text-gray-400 pt-2 px-2">
    <a href="{{ .Permalink }}">
      {{ .Title }}
    </a>
  </h4>
  <div class="flex flex-col h-full p-2 text-gray-500">
    {{ .Summary }}
  </div>
  <div class="flex p-2 border-t border-gray-700 text-gray-600 text-sm">
    <span>
      {{ .Date.Format "2 January 2006" }}
    </span>
    <span class="ms-auto">
      {{ if or (gt .ReadingTime 1) }}
      Reading time: {{ .ReadingTime }} minutes
      {{ end }}
    </span>
  </div>
</div>
