div.col
  div.card.h-100.bg-black
    a href="#{story.path}"
      img.card-img-top.object-fit-cover height="200px" src="#{story[:image]}" alt="#{story[:title]}"
    .card-body
      h4.card-title
        a href="#{story.path}"
          == story[:title]
      .card-text
        == preview(story.compiled_content)
    .card-footer.hstack
      span
        == human_date(story[:date])
      span.ms-auto
        == ttr(story.compiled_content)
