<ul class="m-0 p-0">
  {{ range .stories }}
  <li class="list-none text-gray-400 flex">
    <a href="{{ .Permalink }}">
      <img alt="{{ .Title }}"
        class="h-[150px] w-[150px] bg-no-repeat bg-[size:50%] bg-center bg-[url('{{ .Params.Image }}')]"
        src="/images/splash_mask.png" alt="{{ .Title }}" />
    </a>
    <div class="">
      <h2 class="my-2">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </h2>
      <div class="mt-1">
        {{ .Summary | plainify }}
      </div>
      <div class="text-gray-600 mt-2">
        {{ .Date.Format "2 January 2006" }}
        {{ if or (gt .ReadingTime 1) }}
        ・ Reading time: {{ .ReadingTime }} minutes
        {{ end }}
      </div>
    </div>
  </li>
  {{ end }}
</ul>
