<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta content="{{ .Params.Description }}" name="description" />
  <meta content="{{ .Params.Author}}" name="author" />

  <title>redirect!</title>

  <script>
    var redirects = {
      {{ range .Site.Data.redirects }}
      '{{ .key }}': '{{ .to }}',
      {{ end }}
      {{ range (where .Site.RegularPages "Section" "story") }}
      '{{ .Slug }}': '{{ .Permalink }}',
      {{ end }}
    };
    function redirectTo() {
      if (window.location.href.includes('/redirect')) {
        for (const url in redirects) {
          if (window.location.href.includes(url)) {
            return redirects[url]
          };
        };
      } else {
        return '/';
      };
    };
    window.location.replace(redirectTo());
  </script>
</head>

<body>
Redirect!
</body>

</html>
