{{ define "main" }}
{{ .Content }}
<header class="text-3xl m-5 text-gray-100 text-right">
  {{ .Site.Params.Subtitle }} with {{ .Site.Params.Author }}
</header>
<main class="text-gray-400">
  <section>
    <h4 class="flex text-2xl px-5">
      <span>
        Top Stories
      </span><a class="ms-auto" href="/stories">
        More Stories »
      </a>
    </h4>
    <div class="grid lg:grid-cols-3 gap-5 p-5">
      {{ range first 9 (where .Site.RegularPages "Section" "story") }}
      {{ partial "story" . }}
      {{ end }}
    </div>
  </section>
  <section>
    <h4 class="flex text-2xl px-10">
      <span>
        Featured Projects
      </span><a class="ms-auto" href="/projects">
        More Projects »
      </a>
    </h4>
    <div class="grid lg:grid-cols-2 gap-5 p-5">
      {{ range sort (where (where .Site.RegularPages "Section" "project") "Params.featured" ">" 0) "Params.featured"
      "asc" }}
      {{ partial "project" . }}
      {{ end }}
    </div>
  </section>
  <section>
    <h4 class="">
      <span>
        Last Learned:
      </span>
      <a class="" href="/tils">
        More »
      </a>
    </h4>
    <div class="">
      {{ range first 1 (where .Site.RegularPages "Section" "til") }}
      {{ partial "til" . }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
