{{ define "main" }}
{{ .Content }}
<header class="text-center text-body-secondary m-5">
  <h1>
    {{ .Site.Params.Subtitle }} with {{ .Site.Params.Author }}
  </h1>
</header>
<main>
  <section>
    <h2>Top Stories
      <a href="/stories">
        More Stories »
      </a>
    </h2>
    {{ range first 3 (where .Site.RegularPages "Section" "story") }}
    <h3>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      - {{ .Date.Format "2 January 2006" }}
    </h3>
    <p>
      {{ .Summary }}
      <br />
      {{ if or (gt .ReadingTime 1) }}Reading time: {{ .ReadingTime }} minutes.{{ end }}
    </p>
    {{ end }}

  </section>
  <section>
    <h2>
      Featured Projects
      <a class="ms-auto text-body-secondary fs-5" href="/projects">
        More Projects »
      </a>
    </h2>
    {{ range sort (where (where .Site.RegularPages "Section" "project") "Params.featured" ">" 0) "Params.featured"
    "asc" }}
    <h3>
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h3>
    <p>
      {{ .Summary }}
    </p>
    {{ end }}
  </section>
  <section>
    <h2>
      Last Learned:
      <a href="/tils">
        More »
      </a>
    </h2>
    {{ range first 1 (where .Site.RegularPages "Section" "til") }}
    <h3>
      <a href=" {{ .Permalink }}">
        {{ .Title }}
      </a>
    </h3>
    <p>
      {{ .Content }}
    </p>
    {{ end }}
  </section>
</main>
{{ end }}
